.header{
    background-color: rgba(37, 51, 29, 0.596);
    max-width: 55%;
    max-height: 100px;
    margin: auto;
}

.navi{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.navi li{
    min-width: 50px;
    list-style-type: none;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic rgba(249, 255, 249, 0.863);
    border: solid 1px;
}
.knopki{
    padding: auto;
    margin: 1px;
}