a{
    text-decoration: none;
    color: khaki;
}
.logo{
    color: coral;
    font-size: 30px;
    margin-right: 70px;
}
.header{
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: black;
}
.header_menu{
    display: flex;
    align-items: center;
}
.menu_but{
    padding: 10px;
}
.menu_but:hover{
    background-color: rgb(105, 101, 59);
    border-radius: 4px;
}